


streamlit==1.32.0
pandas==2.2.3
numpy==1.24.0
flask==3.1.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
folium==0.19.5
geopy==2.4.1
mysql-connector-python==9.2.0
plotly==6.0.0
streamlit-lottie==0.0.5
streamlit_folium==0.24.0
requests==2.32.
